body {
  margin: 0;
}

html {
  position: relative;
}

#nav-bar {
  width: 100%;
  position: fixed;
  z-index: 500;
  transition: all 0.5s ease-in-out;
  background: rgba(0, 0, 0, 0.7);
  padding: .5em .75em;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.nav-bar-down {
  top: 0;
}

.nav-bar-up {
  top: -67px;
}

.nav-bar-links-container {
  float: right;
}

.nav-bar-link {
  list-style-type: none;
  display: inline-block;
  font-size: 16px;
  padding: 0 10px;
}

.nav-bar-link a {
  color: #fff;
  text-decoration: none;
}

.white-div {
  background: #fff;
  /*height: 100vh;*/
  padding: 50px;
}

.grey-div {
  background: #f2f2f2;
  /*height: 100vh;*/
  padding: 50px;
}

.div-header {
  font-size: 42px;
  text-transform: uppercase;
}

.paragraph-container {
  border-top: 1px solid #ccc;
}

.lorem {
  font-family: 'Roboto', sans-serif;
  font-size; 20px;
  /*padding: 20px;*/
}
